* {
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;  
    font-weight: 600;  
}

header {
    height: 130px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    /* outline: 1px solid black; */
    flex-grow: 2;
    min-width: 500px;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 4px 7px 0px;
}
  
.cell {
    aspect-ratio: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
    background-color: white;
}

.leftBGroup, 
.rightBGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    width: 100%;
    align-content: center;
}

.button {
    height: 40px;
    max-width: 240px;
    border: none;
    flex: 1;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 4px 7px 0px;
    padding: 12px;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #cfcdcd;
    margin: 10px 0;
  }

.divSize_no, .colorGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selectedValue {
    text-align: center;
    margin: 0;
}

.colorSelect, 
.bgColorSelect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftBGroup > .clear {
    max-width: 100%;
    background-color: #FF4C4C;
    color: white;
}

footer {
    height: 130px;
}
